
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Lobster&family=Roboto+Condensed:wght@300;400&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
 }

 body{
    background: linear-gradient(to right bottom, #053064, #648597); 
    font-size: 1.2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color:black;
    display: grid;
    place-items: center;
    
 }

 h1 {
   margin-top: 60px;
   font-weight: 800;
   text-align: center;
   text-decoration: solid;
   color: #ffff;
   background-color: #da6b5f; 
   width: 90vw;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 1em;
   position: relative;
   top:10px;
   box-shadow: 0px 5px 10px black;
   font-size: 2.4rem;
   
 }

 
#wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: 80vh;
}
 .container{
    background: #fff;
    margin: 100px auto 0;
    border-radius: 30px;
    width: 80%;
    max-width: 850px;
    padding: 30px;
    text-align: center;
    display: none;
    z-index: 1;
 }
 .container h1{
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-decoration: underline;
    text-underline-offset: 8px;
  
 }
 .container h2{
    font-size: 25px;
    font-weight: normal;
    font-style:italic;
    border-bottom: 2px solid #965a5a;
    padding-bottom: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;

 }

 .container.question{
    font-size: 20px;
    margin-top: 25px;
    
 }

 .container.options{
    margin-top: 20px;
 }


 .option{
    font-size: 20px;
    background-color: #eee;
    color: black;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: color 0.5s linear;
 }
 .option.choose{
   background-color:lightcoral;
   color:rgb(17, 13, 13)
}
 .option:hover{
    background-color: #ddd;

 }
 
 .nextBtn {
    width: 60%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 20px auto 0 auto;
    font-weight: 600;
    background-color:cyan;
    border: none;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    transition: color 0.5s linear;

 }
 .nextBtn:hover{
    background-color: #836b4f2c;
 }

 .startBtn{
    width: 20%;
    font-size: 24px;
    padding: 12px 20px;
    margin: 20px auto 0 auto;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    color:black;
    cursor: pointer;
    text-align: center;
    transition:background-color 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
 }
 .startBtn:hover {
   background-color: #e9b970;
 }

 /** styling for how to play button**/

 .how-to-play{
   width: 20%;
   font-size: 24px;
   padding: 12px 20px;
   margin: 20px auto 0 auto;
   font-weight: 600;
   border: black;
   border-radius: 5px;
   color:black;
   cursor: pointer;
   text-align:center;
   transition:background-color 0.3s ease;
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #007bff; 
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;

 }

 .how-to-play:hover {
   background-color: #e9b970;
 }
 
 /* Modal styles */
.modal {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5); 
   z-index: 9999; 
   padding: 20px;
}

.modal-content {
   background-color: #fff; 
   max-width: 500px;
   margin: 100px auto; 
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.close-modal {
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
   font-size: 18px;
   color: #888;
}

 .game-name{
   color: #008080;
   font-weight: bold;
   font-size: 2rem;
   -webkit-text-stroke: 1px black;
 }
.close-modal{
   padding: 0.5em 2.5em;
   background-color: #008080;
   color: black;
   border: 1px solid black;
   border-radius: 5px;
   font-size: 1rem;
   margin-top: 2rem;
   cursor: pointer;
}
 .alert{
   background-color:wheat;
   border-radius: 5px;
   padding: 12px;
   position: absolute;
   display: none;
   top: 0;
   width: 50%;
   left: 50%;
   transform: translate(-50%);
   margin-top: 10px;
 }
 .scoreCard{
    font-size: 20px;
    margin-top: 20px;
 }
 .timer{
   position: absolute;
   width: 70px;
   height: 70px;
   border-radius: 50%;
   top: 50px;
   right: 30px;
   background-color: rgb(221, 231, 128);
   font-size: 24px;
   font-weight: 600;
   border:2px solid black;
   padding: 28px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 footer {
   background-color: #333; 
   color: #fff; 
   padding: 20px; 
   text-align: center; 
   position: fixed; 
   left: 0;
   bottom: 0;
   width: 100%; 
}

/* X-SMALL & SMALL MOBILE ****/

@media only screen and (max-width: 375.99px) {
   .container{
      width: 100%;
      margin-top: 20px;
   }
   .option,
   .nextBtn,
   .startBtn {
       width: 80%;
   }
   .container .question{
      font-size: 20px;
   }

   .timer{
      font-size: 20px;
      width: 40px;
      height: 40px;
   }
   .startBtn{
      width: 50%;
   }

}
/** MEDIUM DEVICES - TABLETS PORTRAIT **/
@media only screen and (max-width: 768px) {
   .container {
       width: 90%;
       margin-top: 50px;
   }
}

/** LARGE TABLETS - LANDSCAPE **/

@media only screen and (max-width: 992px) {
   .container{
      
      margin-top: 100px;
   }
   .container .question{
      font-size: 20px;
   }
   .containerh h1 h2{
      font-size: 25px;
   }
   .timer{
      font-size: 20px;
      width: 40px;
      height: 40px;
   }
   .startBtn{
      width: 50%;
   }
   
}

