
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Lobster&family=Roboto+Condensed:wght@300;400&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    
 }
 
 body{
    background-image:url(/assets/images/background-img.jpg);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color:black;
    display: grid;
    place-items: center;
   
 }
 .container{
    background: #fff;
    margin: 100px auto 0;
    border-radius: 10px;
    width: 80%;
    max-width: 850px;
    padding: 30px;
    text-align: center;
    display: none;
 }
 .container h1{
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-decoration: underline;
    text-underline-offset: 8px;
 }
 .container h2{
    font-weight: 25px;
    color:#001e4d;
    border-bottom: 1px solid #a38989;
    padding-bottom: 30px;
    margin-bottom: 20px;
    margin-top: 20px;

 }

 .container .question{
    font-size: 20px;
    margin-top: 25px;
 }

 .container .options{
    margin-top: 20px;
 }

 .option{
    font-size: 20px;
    background-color: #eee;
    color: black;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    width: 60%;
    text-align: left;
    cursor: pointer;
   
 }

 .option:hover{
    background-color: #eee;
 }

 .nextBtn {
    width: 60%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 20px auto 0 auto;
    font-weight: 600;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: #ffff;
    cursor: pointer;
 }
 .nextBtn:hover{
    background-color: #1e9451;
 }

 .startBtn{
   width: 20%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 20px auto 0 auto;
    font-weight: 600;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: #ffff;
    cursor: pointer;
    padding-block: 20px;
    text-align: center;


 }
 .option.selected{
    background-color:aqua;
    color: white;
 }
 .alert{
   background-color: #43a87e;
   border-radius: 5px;
   width: 100%;
   padding: 12px;
   position: absolute;
   display: none;
   top: 0;
 }
 .scoreCard{
    font-size: 20px;
    margin-top: 20px;
 }
 .timer{
   position: absolute;
   width: 70px;
   height: 70px;
   border-radius: 50%;
   top: 30px;
   right: 30px;
   background-color: rgb(221, 231, 128);
   font-size: 24px;
   font-weight: 600;
   border:2px solid #f00;
   padding: 28px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

/* X-SMALL & SMALL MOBILE ****/

@media only screen and (max-width: 375.99px) {
   .container{
      width: 100%;
      margin-top: 20px;
   }
   .container .question{
      font-size: 20px;
   }
   .containerh h1 h2{
      font-size: 25px;
   }
   .timer{
      font-size: 20px;
      width: 40px;
      height: 40px;
   }
   .startBtn{
      width: 50%;
   }

}
/** MEDIUM DEVICES - TABLETS PORTRAIT **/

/** LARGE TABLETS - LANDSCAPE **/

@media only screen and (max-width: 992px) {
   .container{
      width: 100%;
      margin-top: 50px;
   }
   .container .question{
      font-size: 20px;
   }
   .containerh h1 h2{
      font-size: 25px;
   }
   .timer{
      font-size: 20px;
      width: 40px;
      height: 40px;
   }
   .startBtn{
      width: 50%;
   }

   
}

